<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="jquery/jquery.min.js"></script>
    <script src="javascripts/ajax.js"></script>
    <title></title>
</head>
<body>
    <h1>Server Side Calculator</h1>
    <form id="calculator" method="GET">
        <label>First Number </label><input name=number1 type="number" id="number1" placeholder="Enter Number"><br><br>
        <label>Second Number </label><input name=number2 type="number" id="number2" placeholder="Enter Number"><br><br>
        <button class="test" value="Add">Add</button>
        <button class="test" value="Subtract">Subtract</button>
        <button class="test" value="Multiply">Multiply</button>
        <button class="test" value="Divide">Divide</button><br><br>
        <button type="submit">SUBMIT</button>
    </form>
<div class="results">
</div>
</body>
</html>